@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

header .titulo {
  width: 100%;
  height: 45px;
  background-color: rgb(165, 42, 42);
  align-content: center;
  justify-items: center;
}

header .titulo h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  font-size: 35px;
}

header .titulo h1 strong {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: aliceblue;
  font-size: 35px;
}

header .img-principal {
  background-image: url(./img/backegraound-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 13rem;
}

header .img-principal {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .img-principal img {
  margin-top: 1rem;
  width: 80rem;
  height: 12rem;
}

header .cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(6, 6, 104);
  width: 100%;
  height: 35px;
  align-items: center;
}

.cabeçalho .redes-socias {
  margin-left: 10rem;
}

.cabeçalho .redes-socias a {
  color: aliceblue;
  padding: 0px 7px;
  font-size: 20px;
}

header .header nav ul {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-items: center;
  align-items: center;
  margin-right: 15rem;
}

header .cabeçalho .header .dropdown h1{
  display: none;
}

header .header nav ul li {
  background-color: rgb(6, 6, 104);
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header nav ul li :hover {
  transition: all;
  background-color: rgb(85, 85, 137);
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
header .header nav ul li a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}

/* ------------------ inicio do versiculo biblico ---------*/
main section .versiculo{
  background-color: #002698;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section .versiculo h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-bottom: 1rem;
}

main section .versiculo p{
  width: 700px;
  text-align: center;
  font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    font-size: 20px;
  color: #eae9e9;
  line-height: 25px;
}

main section .versiculo h3{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 10px;
}

/*inicio dos codigos do cards*/

main section .noticias{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

main section div .noticia{
    width: 800px;
    height: 200px;
    background-color: rgb(229, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px 10px 20px;
}

main section div .noticia .titulo_img{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

main section div .noticia .titulo_img img{
    background-color: blueviolet;
    width: 160px;
    height: 200px;
    border-radius: 10px;

}

main section div .noticia .titulo_img .texto{ 
width: 700px;
height: 200px;
}

main section div .noticia .titulo_img .texto h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(6, 6, 104);
    font-size: 35px;
}

main section div .noticia .titulo_img .texto p{
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 18px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

main section div .noticia .titulo_img .texto a{
  font-size: 18px;
}
/* ------------------ inicio do botão ---------*/

main section .saiba{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

main section .saiba a button{
    width: 200px;
    height: 50px;
    background-color: rgb(6, 6, 104);
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    
}

main section .saiba a button:hover{
    transition: all;
    width: 200px;
    height: 50px;
    background-color: rgb(9, 9, 175);
}
/* ------------------ inicio do banner movimento---------*/
main .main{
  margin-top: 5rem;
  overflow-y: hidden;
  background-color: #eae9e9;
  width: 100%;
}

main section .bodyprincipal{
  display: flex;
  flex-direction: column;
  margin-left: 19rem;
  background-color: #eae9e9;
  width: 68rem;
  height: 25rem;
  overflow: auto;
  border-radius: 10px;
}

main section .bodyprincipal .textosbanner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  
}

main section .bodyprincipal .textosbanner h1{
  position: absolute;
  color: rgb(0, 44, 82);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  

}

main section .bodyprincipal .banners{
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;

}

main section .bodyprincipal .noticiasdaigreja img{
width: 230px;
height: 300px;
background-color: #d10e00;
margin-left: 1rem;
margin-right: 1rem;

}

/* ------------------ final do banner movimento---------*/

/*-------------- inico da ultima parte ----------*/
footer .footer-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  gap: 7rem;
  margin-top: 2rem;
}

footer .footer-section .footer-sobrenos, .footer-Contato{
  display: flex;
  flex-direction: column;

}

footer .footer-section .footer-sobrenos h1, .footer-Contato h1, .footer-linkrapido h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 20px;
  margin-bottom: 1rem;
}

footer .footer-section .footer-sobrenos p{
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #002698;
  font-size: 15px;

}

footer .footer-section .footer-linkrapido a{
  text-decoration: none;
}

footer .footer-section .footer-linkrapido h3{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #002698;
  font-size: 15px;
  margin-bottom: 4px;
}

footer .footer-section .footer-Contato p{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #002698;
  font-size: 15px;
  margin-bottom: 4px;
}

footer .linha{
  width: 100%;
  height: 1px;
  background-color: #070707;
  margin-bottom: 20px;
}

footer .footer-direitos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}


footer .footer-direitos h1{
  font-size: 18px;
}

/*-------------- final  parte ----------*/



/* ---------------------- respossivo 1440 -----------------*/

@media (max-width: 1440px){
  .cabeçalho .redes-socias {
    margin-left: 9rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-items: center;
    align-items: center;
    margin-right: 8rem;
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }
}

/*-------------------------- respossivo 1280 -----------------*/
@media (max-width: 1280px){
  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 30px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 30px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 74rem;
    height: 11rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 8rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    margin-right: 8rem;
  }

  main section .bodyprincipal{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    background-color: #eae9e9;
    width: 60rem;
    height: 25rem;
    overflow: auto;
    border-radius: 10px;
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }

}

/*-------------------------- respossivo 1114 -----------------*/

@media (max-width: 1114px){

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 25px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 25px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 67rem;
    height: 11rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 4rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-items: center;
    align-items: center;
    margin-right: 4rem;
  }

  main section .bodyprincipal{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    background-color: #eae9e9;
    width: 60rem;
    height: 25rem;
    overflow: auto;
    border-radius: 10px;
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }


}

/*-------------------------- respossivo 884 -----------------*/
@media (max-width: 884px){

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 20px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 20px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 50rem;
    height: 8rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 2rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-right: 2rem;
  }

  main section .noticias{
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}


main section .bodyprincipal{
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  background-color: #eae9e9;
  width: 55rem;
  height: 25rem;
  overflow: auto;
}
main section .bodyprincipal .textosbanner h1{
  position: absolute;
  color: rgb(0, 44, 82);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
}

footer .linha{
  width: 100%;
  height: 1px;
  background-color: #070707;
  margin-bottom: 20px;
}
}

/*-------------------------- respossivo 834 -----------------*/
@media (max-width: 834px){
  .cabeçalho .redes-socias {
    margin-left: 1rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin-right: 1rem;
  }

  main section div .noticia{
    width: 750px;
    height: 200px;
    background-color: rgb(229, 229, 229);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

main section div .noticia .titulo_img .texto p{
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

footer .linha{
  width: 100%;
  height: 1px;
  background-color: #070707;
  margin-bottom: 20px;
}

}

/*-------------------------- respossivo 800 -----------------*/
@media (max-width: 800px){
  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 18px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 18px;
  }

  header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 11rem;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 46rem;
    height: 7.5rem;
  }

  main section div .noticia{
    width: 700px;
    height: 200px;
    background-color: rgb(229, 229, 229);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}


main section div .noticia .titulo_img .texto h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(6, 6, 104);
  font-size: 30px;
}

main section div .noticia .titulo_img .texto p{
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

main section .bodyprincipal .textosbanner h1{
  position: absolute;
  color: rgb(0, 44, 82);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

main section .bodyprincipal{
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  background-color: #eae9e9;
  width: 49rem;
  height: 25rem;
  overflow: auto;
}

footer .linha{
  width: 100%;
  height: 1px;
  background-color: #070707;
  margin-bottom: 20px;
}
}
/*-------------------------- respossivo 440 -----------------*/
@media (max-width: 440px){

  header .titulo {
    width: 100%;
    height: 40px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 10px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 10px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 25rem;
    height: 4rem;
  }

  header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 7rem;
  }

  header .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-items: center;
    align-items: center;
    margin-right: 15rem;
  }

  header .header nav ul li {
    background-color: rgb(6, 6, 104);
  }

  header .cabeçalho .header .dropdown h1{
    display: grid;
    font-family: sans-serif;
    padding: 5px;
  }

  header .header nav ul li :hover {
    transition: all;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  header .cabeçalho .header .dropdown h1{
    display: grid;
    font-family: sans-serif;
    padding: 5px;
  }

  .dropdown {
    width: 50px;
    margin-right: 20px;
  }

  .dropdown h1 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

  }

  .dropdown:hover h1 {
    border-radius: 5px 5px 0px 0px;
  }

  .dropdown:hover li {
      padding: 8px 15px;
      border-top: 1px #005cd1 solid;
      height: auto;
      overflow: auto;
      opacity: 1;
  }
  
  .dropdown h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 8px;
      position: relative;
      background: #003d8c;
      width: 50px;
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      border: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s linear 0s;
  }

  .dropdown h1 b {
    color: #EEE;
    font-weight: normal;
  }
  
  .dropdown ul {
    width: 0px;  
    display: block;
    position: absolute;
    list-style: none;
  
  }
  
  
  .dropdown li {
    padding: 0px 10px;
    background: #0070ff;
    color: #ffffff;
    text-align: left;
    border: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition-property: all, background-color;
    transition-duration: 0.2s, 0.4s;
  
  }
  
  .dropdown li a { text-decoration:none; color:#fff; }
  .dropdown li:hover,
  .dropdown li.selected {
    background-color: #005fd9;
  
  }
  
  .dropdown li:last-child {
    border-radius: 0px 0px 5px 5px;
  
  }
  
  .dropdown li:nth-child(1) {
    transition-delay: 0s, 0s;
  
  }
  
  .dropdown li:nth-child(2) {
    transition-delay: 0.1s, 0s;
  
  }
  
  .dropdown li:nth-child(3) {
    transition-delay: 0.2s, 0s;
  
  }
  
  .dropdown li:nth-child(4) {
    transition-delay: 0.3s, 0s;
  
  }
  
  .dropdown li:nth-child(5) {
    transition-delay: 0.4s, 0s;
  
  }

  main section .versiculo{
    background-color: #002698;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main section .versiculo h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 1rem;
  }

  main section .versiculo p{
    width: 300px;
    text-align: center;
    font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      line-height: 18px;
      font-size: 15px;
    color: #eae9e9;
    line-height: 20px;
  }

  main section .noticias{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

  main section div .noticia{
    width: 350px;
    height: 420px;
    background-color: rgb(234, 234, 234);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

main section div .noticia .titulo_img{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

  main section div .noticia .titulo_img img{
  background-color: blueviolet;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

  main section div .noticia .titulo_img .texto{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 13rem;
  }
  
  main section div .noticia .titulo_img .texto h1{
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      color: rgb(6, 6, 104);
      font-size: 25px;
  }
  
  main section div .noticia .titulo_img .texto p{
      margin-top: 5px;
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      line-height: 12px;
      font-size: 12px;
      line-height: 14px;
      color: rgb(0, 0, 0);
      text-align: justify;
  }

  main section div .noticia .titulo_img .texto a{
    margin-top: 7px;
    font-size: 14px;
    margin-right:18rem;
  }

  main section .bodyprincipal{
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    background-color: #eae9e9;
    width: 27rem;
    height: 23rem;
    overflow: auto;
  }

  main section .bodyprincipal .textosbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    
  }

  main section .bodyprincipal .textosbanner h1{
    position: absolute;
    color: rgb(0, 44, 82);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 19px;
  }

  main section .bodyprincipal .banners{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }

  footer .footer-direitos h1{
    font-size: 14px;
  }

  footer .footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    gap: 3rem;
    margin-top: 2rem;
  }

  footer .footer-section .footer-sobrenos, .footer-Contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .footer-section .footer-sobrenos h1, .footer-Contato h1, .footer-linkrapido h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    font-size: 30px;
    margin-bottom: 10px;
  }

  footer .footer-section .footer-sobrenos p{
    width: 280px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #002698;
    font-size: 20px;
    line-height: 23px;
  
  }

  footer .footer-section .footer-linkrapido h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #002698;
    font-size: 20px;
    margin-bottom: 4px;
  }

  footer .footer-section .footer-Contato p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #002698;
    font-size: 20px;
    margin-bottom: 4px;
  }
}

/*-------------------------- respossivo 430 -----------------*/
@media (max-width: 430px){
    header .titulo {
      width: 100%;
      height: 24px;
      background-color: rgb(165, 42, 42);
      align-content: center;
      justify-items: center;
    } 
footer .linha{
  width: 100%;
  height: 1px;
  background-color: #242424;
  margin-bottom: 20px;
}

}

/*-------------------------- respossivo 414 -----------------*/
@media (max-width: 414px){
  main section .bodyprincipal .textosbanner h1{
    position: absolute;
    color: rgb(0, 44, 82);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }
}

/*-------------------------- respossivo 393 -----------------*/
@media (max-width: 393px){

  header .titulo {
    width: 100%;
    height: 25px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 9px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 9px;
  }


  header .img-principal img {
    margin-top: 1rem;
    width: 23rem;
    height: 3.5rem;
   }
   main section .bodyprincipal{
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    background-color: #eae9e9;
    width: 25rem;
    height: 23rem;
    overflow: auto;
  }


   main section .bodyprincipal .textosbanner h1{
    position: absolute;
    color: rgb(0, 44, 82);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
  }

  footer .linha{
    width: 100%;
    height: 1px;
    background-color: #070707;
    margin-bottom: 20px;
  }
}

/*-------------------------- respossivo 360 -----------------*/
@media (max-width: 360px){
  header .titulo {
    width: 100%;
    height: 20px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 20rem;
    height: 3rem;
   }

   header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 5rem;
  }

  main section div .noticia{
    width: 300px;
    height: 450px;
    background-color: rgb(234, 234, 234);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

main section div .noticia .titulo_img{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main section div .noticia .titulo_img img{
  background-color: blueviolet;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

main section div .noticia .titulo_img .texto{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 20rem;
}

main section div .noticia .titulo_img .texto a{
  margin-top: 7px;
  font-size: 14px;
  margin-right:14rem;
}
main section .bodyprincipal{
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  background-color: #eae9e9;
  width: 23rem;
  height: 23rem;
  overflow: auto;
}

main section .bodyprincipal .textosbanner h1{
  position: absolute;
  color: rgb(0, 44, 82);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 15px;
}

footer .linha{
  width: 100%;
  height: 1px;
  background-color: #070707;
  margin-bottom: 20px;
}

}