@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

header .titulo {
  width: 100%;
  height: 45px;
  background-color: brown;
  align-content: center;
  justify-items: center;
}

header .titulo h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  font-size: 35px;
}

header .titulo h1 strong {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: aliceblue;
  font-size: 35px;
}

header .img-principal {
  background-image: url(./img/backegraound-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 13rem;
}

header .img-principal {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .img-principal img {
  margin-top: 1rem;
}

header .cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(6, 6, 104);
  width: 100%;
  height: 35px;
  align-items: center;
}

.cabeçalho .redes-socias {
  margin-left: 10rem;
}

header .cabeçalho .header .dropdown h1{
  display: none;
}

.cabeçalho .redes-socias a {
  color: aliceblue;
  padding: 0px 7px;
  font-size: 20px;
}

header .header nav ul {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-items: center;
  align-items: center;
  margin-right: 15rem;
}

header .header nav ul li {
  background-color: rgb(6, 6, 104);
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header nav ul li :hover{
    transition: all;
    background-color: rgb(85, 85, 137);
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
header .header nav ul li a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}

main section .titulocolunistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 3rem;

}

main section .titulocolunistas h1{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 40px;
    
}

main section .titulocolunistas h2{
    margin-top: 7px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

main section .colunas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

main section .colunas .coluna {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: rgb(206, 206, 206);
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

main section .colunas .coluna .img_colunista img{
    background-color: blueviolet;
    width: 100px;
    height: 135px;
    border-radius: 10px;
    border: 4px solid #890c0c
    
}
main section .colunas .coluna .textocolunas{
    display: flex;
    flex-direction: column;
}

main section .colunas .coluna .textocolunas h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(172, 4, 4);
    font-size: 20px;
}

main section .colunas .coluna .textocolunas h2{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(2, 6, 111);
  font-size: 17px;
  margin-top: 2px;
}


main section .colunas .coluna .textocolunas p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    margin-top: 9px;
}

footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 3rem;
    background-color: rgb(217, 217, 217);
}

/*------------------ responsivo 1440 ------------------------*/

@media (max-width: 1440px){
  .cabeçalho .redes-socias {
    margin-left: 9rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-items: center;
    align-items: center;
    margin-right: 8rem;
  }
}

/*-------------------------- respossivo 1280 -----------------*/
@media (max-width: 1280px){
  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 30px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 30px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 74rem;
    height: 11rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 8rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    margin-right: 8rem;
  }

}

/*-------------------------- respossivo 1114 -----------------*/

@media (max-width: 1114px){

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 25px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 25px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 67rem;
    height: 11rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 4rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-items: center;
    align-items: center;
    margin-right: 4rem;
  }

}

/*-------------------------- respossivo 884 -----------------*/
@media (max-width: 884px){

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 20px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 20px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 50rem;
    height: 8rem;
  }

  .cabeçalho .redes-socias {
    margin-left: 2rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-right: 2rem;
  }

  main section .noticias{
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
}

/*-------------------------- respossivo 834 -----------------*/
@media (max-width: 834px){
  .cabeçalho .redes-socias {
    margin-left: 1rem;
  }
  
  .cabeçalho .redes-socias a {
    color: aliceblue;
    padding: 0px 7px;
    font-size: 20px;
  }
  
  header .header nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin-right: 1rem;
  }

  main section .colunas .coluna .textocolunas p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
}
}

/*-------------------------- respossivo 800 -----------------*/
@media (max-width: 800px){
  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 18px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 18px;
  }

  header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 11rem;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 46rem;
    height: 7.5rem;
  }

  main section .colunas .coluna .textocolunas h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

main section .colunas .coluna .textocolunas p{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  margin-top: 8px;
}

}

/*-------------------------- respossivo 440 -----------------*/
@media (max-width: 440px){

  header .titulo {
    width: 100%;
    height: 40px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 10px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 10px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 25rem;
    height: 4rem;
  }

  header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 7rem;
  }

  header .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-items: center;
    align-items: center;
    margin-right: 15rem;
  }

  header .header nav ul li {
    background-color: rgb(6, 6, 104);
  }

  header .cabeçalho .header .dropdown h1{
    display: grid;
    font-family: sans-serif;
    padding: 5px;
  }

  header .header nav ul li :hover {
    transition: all;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  header .cabeçalho .header .dropdown h1{
    display: grid;
    font-family: sans-serif;
    padding: 5px;
  }

  .dropdown {
    width: 50px;
    margin-right: 20px;
  }

  .dropdown h1 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

  }

  .dropdown:hover h1 {
    border-radius: 5px 5px 0px 0px;
  }

  .dropdown:hover li {
      padding: 8px 15px;
      border-top: 1px #005cd1 solid;
      height: auto;
      overflow: auto;
      opacity: 1;
  }
  
  .dropdown h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 8px;
      position: relative;
      background: #003d8c;
      width: 50px;
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      border: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s linear 0s;
  }

  .dropdown h1 b {
    color: #EEE;
    font-weight: normal;
  }
  
  .dropdown ul {
    width: 0px;  
    display: block;
    position: absolute;
    list-style: none;
  
  }
  
  
  .dropdown li {
    padding: 0px 10px;
    background: #0070ff;
    color: #ffffff;
    text-align: left;
    border: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition-property: all, background-color;
    transition-duration: 0.2s, 0.4s;
  
  }
  
  .dropdown li a { text-decoration:none; color:#fff; }
  .dropdown li:hover,
  .dropdown li.selected {
    background-color: #005fd9;
  
  }
  
  .dropdown li:last-child {
    border-radius: 0px 0px 5px 5px;
  
  }
  
  .dropdown li:nth-child(1) {
    transition-delay: 0s, 0s;
  
  }
  
  .dropdown li:nth-child(2) {
    transition-delay: 0.1s, 0s;
  
  }
  
  .dropdown li:nth-child(3) {
    transition-delay: 0.2s, 0s;
  
  }
  
  .dropdown li:nth-child(4) {
    transition-delay: 0.3s, 0s;
  
  }
  
  .dropdown li:nth-child(5) {
    transition-delay: 0.4s, 0s;
  
  }

  main section .titulocolunistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

}
  main section .colunas{
    flex-wrap: wrap;
  }

  main section .colunas .coluna {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: rgb(206, 206, 206);
    margin: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

main section .colunas .coluna .textocolunas h2{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(2, 6, 111);
  font-size: 16px;
  margin-top: 2px;
}

footer h1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  background-color: rgb(217, 217, 217);
  font-size: 14px;
}
}




@media (max-width: 414px){
  header .titulo {
    width: 100%;
    height: 24px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  main section .colunas .coluna .textocolunas h2{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(2, 6, 111);
    font-size: 16px;
    margin-top: 2px;
  }
}



/*-------------------------- respossivo 393 -----------------*/
@media (max-width: 393px){

  header .titulo {
    width: 100%;
    height: 30px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }


  header .img-principal img {
    margin-top: 1rem;
    width: 23rem;
    height: 3.5rem;
   }

   main section .colunas .coluna .textocolunas p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    margin-top: 8px;
  }

   footer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    background-color: rgb(217, 217, 217);
    font-size: 13px;
}
}

/*-------------------------- respossivo 360 -----------------*/
@media (max-width: 360px){
  header .titulo {
    width: 100%;
    height: 30px;
    background-color: rgb(165, 42, 42);
    align-content: center;
    justify-items: center;
  }

  header .titulo h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }
  
  header .titulo h1 strong {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
    font-size: 8px;
  }

  header .img-principal img {
    margin-top: 1rem;
    width: 20rem;
    height: 3rem;
   }

   header .img-principal {
    background-image: url(./img/backegraound-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 5rem;
  }
}
